# ===== ENVIRONNEMENT PRODUCTION =====
# Configuration pour l'environnement de production

# API Backend
VITE_API_BASE_URL=https://api-invoke.onrender.com/api/v1

# Configuration Vite
VITE_APP_TITLE=Invoke
VITE_APP_VERSION=1.0.0
VITE_DEBUG=false

# Features flags
VITE_ENABLE_DEV_TOOLS=false
VITE_ENABLE_LOGGING=false

# External services (production)
VITE_CLOUDINARY_CLOUD_NAME=dhld32tpf
VITE_CLOUDINARY_API_KEY=189834395278489