# ===== ENVIRONNEMENT STAGING =====
# Configuration pour l'environnement de test/staging

# Environnement
NODE_ENV=staging
PORT=3000

# Base de données
MONGODB_URI=mongodb+srv://kamilabs:zrLtpHCFHOQTPTHD@invoke-backend.jlmwk7d.mongodb.net/?retryWrites=true&w=majority&appName=invoke-backend

# JWT
JWT_SECRET=3dzfIAox1l9KNYL6
JWT_EXPIRES_IN=7d

# CORS et domaines
FRONTEND_URLS=https://dev-invoke.onrender.com,https://invoke.efp.be,https://invoke.neant.dev,https://staging.invoke.neant.dev
COOKIE_DOMAIN=dev-invoke.onrender.com

# Rate limiting
DISABLE_RATE_LIMIT=false

# Logs
LOG_LEVEL=info

# Uploads
MAX_FILE_SIZE=10485760
UPLOAD_PATH=./uploads

# Server URL
SERVER_URL=https://dev-api-invoke.onrender.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=dhld32tpf
CLOUDINARY_API_KEY=189834395278489
CLOUDINARY_API_SECRET=8SqpCTpRFQeeOxXSao0tE1n2rzQ

# Staging features
ENABLE_SWAGGER=false
ENABLE_DEBUG_ROUTES=false