# ===== ENVIRONNEMENT PRODUCTION =====
# Configuration pour l'environnement de production

# Environnement
NODE_ENV=production
PORT=3000

# Base de données
MONGODB_URI=mongodb+srv://kamilabs:zrLtpHCFHOQTPTHD@invoke-backend.jlmwk7d.mongodb.net/?retryWrites=true&w=majority&appName=invoke-backend

# JWT
JWT_SECRET=3dzfIAox1l9KNYL6
JWT_EXPIRES_IN=7d

# CORS et domaines
FRONTEND_URLS=https://invoke.efp.be,https://invoke.neant.dev,https://invoke.onrender.com
COOKIE_DOMAIN=invoke.efp.be

# Rate limiting
DISABLE_RATE_LIMIT=false

# Logs
LOG_LEVEL=error

# Uploads
MAX_FILE_SIZE=10485760
UPLOAD_PATH=./uploads

# Server URL
SERVER_URL=https://api-invoke.onrender.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=dhld32tpf
CLOUDINARY_API_KEY=189834395278489
CLOUDINARY_API_SECRET=8SqpCTpRFQeeOxXSao0tE1n2rzQ

# Production features
ENABLE_SWAGGER=false
ENABLE_DEBUG_ROUTES=false